{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <link rel="stylesheet" href="{%static 'css/principal.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo2_resized.jpg' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <title>Flashs</title>
</head>

<body>
    <!-- MENU INICIO FZER ELE DE BASE -->

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="">flashs</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img src="{{  foto_perfil }}" width="30" height="40" alt="User picture" />
                    </div>
                    <div class="user-info">
                        <span class="user-name">

                            <strong>

                                {{request.user.username}}
                                </a>
                            </strong>
                        </span>
                        <!-- -editar:  precisa?-->
                        <span class="user-role"></span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <!-- -editar: para outros tipos de status -->
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>

                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Minhas paginas</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Meus Cards</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>


                                    <li>
                                        <a href="{% url 'paginas' pagina_principal.id %}">
                                            {{pagina_principal.titulo}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>






                        </li>
                        <li class="header-menu">
                            <span>ENEM - SIMULADÃO</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>ANO'S</span>
                                <!--<span class="badge badge-pill badge-danger">{{ simulados_compartilhados.count }}</span>-->
                            </a>
                            <div class="sidebar-submenu">


                                <ul>
                                    <li>
                                        <a href="{%url 'enem' 20231 %}">Enem 2023- dia 1</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'enem' 20232 %}">Enem 2023- dia 2</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'enem' 20221 %}">Enem 2022- dia 1</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'enem' 20222 %}">Enem 2022- dia 2</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'enem' 20211 %}">Enem 2021- dia 1</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'enem' 20212 %}">Enem 2021- dia 2</a>
                                    </li>
                                </ul>

                            </div>
                        </li>

                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="{% url 'estatisticas_simulado' %}">
                    <i class="fa fa-bar-chart"></i>
                    <span class="badge badge-pill badge-warning notification"></span>
                </a>

                <a href="">

                    <form action="" method="POST">{% csrf_token %}
                        <i>
                            <button type="submit" class="fa fa-power-off sair" style="
                       background-color: rgba(157, 156, 156, 0);
                        color: rgb(133, 165, 165);"></button>

                        </i>
                    </form>
                </a>

            </div>
            <!-- pega o ID da pagina e no javascritp faz os procedimentos para adicionar o card a pagina correta. -->
        </nav>

        <div class="row g-0">


            <div style="height: 609px; width: 70%; margin-left: 60px; position: relative;"
                class="col-sm-5 col-md-7 modalenem ">


                <embed src="{% static 'pdf_enem/ENEM_' %}{{ enem_ano_dia }}.pdf" type="application/pdf" width="100%"
                    height="100%">

            </div>

            <div class="col-7 col-md-5 modal_gabarito"
                style="margin-left: 78%; padding: 20px; padding-left: 0; margin-top: -600px;">
                <p> Marque as opções correta </p>

                <button class="btn btn-light botaoenem" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" style="background-color: rgba(71, 61, 61, 0.249); color: rgb(47, 47, 47);" aria-controls="offcanvasRight">PREENCHER</button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">MARQUE</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <!-- aqui fica as questões-->
                    <div class="offcanvas-body">
                        <form action="{% url 'resposta_enem' %}" method="POST"> {% csrf_token %}
                            <p>Marque as alternativas </p>
                            <input type="hidden" name="dia" value="{{dia}}">
                            <input type="hidden" name="ano" value="{{ano}}">


                            {%if dia == 1 %}

                            <p> Escolha seu idioma </p>
                            <label for="">Ingles</label>
                            <input type="radio" name="idioma" value="ingles"><br>
                            <label for="">Espanhol</label>
                            <input type="radio" name="idioma" value="espanhol">
                            <div class="row g-0">


                                {% for i in numero %}
                                <div class="col-7">
                                    <p> Questão {{ i }}</p>
                                    <label for="">A</label>
                                    <input type="radio" name="resposta{{ i }}" value="A">
                                    <label for="">B</label>
                                    <input type="radio" name="resposta{{ i }}" value="B">
                                    <label for="">C</label>
                                    <input type="radio" name="resposta{{ i }}" value="C">
                                    <label for="">D</label>
                                    <input type="radio" name="resposta{{ i }}" value="D">
                                    <label for="">E</label>
                                    <input type="radio" name="resposta{{ i }}" value="E">
                                </div>
                                {% endfor %}
                                {% else %}
                                {% for i in numero2 %}
                                <div class="col-7">
                                    <p>Questão {{ i }}</p>
                                    <label for="">A</label>
                                    <input type="radio" name="resposta{{ i }}" value="A">
                                    <label for="">B</label>
                                    <input type="radio" name="resposta{{ i }}" value="B">
                                    <label for="">C</label>
                                    <input type="radio" name="resposta{{ i }}" value="C">
                                    <label for="">D</label>
                                    <input type="radio" name="resposta{{ i }}" value="D">
                                    <label for="">E</label>
                                    <input type="radio" name="resposta{{ i }}" value="E">
                                </div>
                                {% endfor %}
                                {%endif %}


                                <button type="submit" class="btn btn-primary"> ENVIAR </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>










        <script src="{% static 'javascript/script_aluno.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'javascript/script_perfil.js' %}"></script>
</body>

</html>